<div class="header">
    <div class="header__search">
        <input class="search" type="text" placeholder="Search for..."><i class="fas fa-fw fa-search"></i>
    </div>
    <div class="header__user">
        <div class="header__user--alert"><i class="fas fa-fw fa-bell"></i>
            <div class="alert__value">3+</div>
            <div class="alerts__dropdown">
                <div class="alerts__dropdown__title">ALERTS CENTER123</div>
                <div class="alerts__dropdown__list">
                    <div class="alerts__dropdown__list--item">
                        <div class="img"><img src="/img/undraw_profile.svg" alt=""></div>
                        <div class="dropdown__list--content">
                            <div class="list--item__title">December 12, 2019</div>
                            <div class="list--item__text"><a href="">A new monthly report
                                    is
                                    ready to download!</a></div>
                        </div>
                    </div>
                    <div class="alerts__dropdown__list--item">
                        <div class="img"><img src="/img/undraw_profile.svg" alt=""></div>
                        <div class="dropdown__list--content">
                            <div class="list--item__title">December 7, 2019</div>
                            <div class="list--item__text"><a href="">$290,29 has been deposited into your
                                    accaunt!</a></div>
                        </div>
                    </div>
                    <div class="alerts__dropdown__list--item">
                        <div class="img"><img src="/img/undraw_profile.svg" alt=""></div>
                        <div class="dropdown__list--content">
                            <div class="list--item__title">December 2, 2019</div>
                            <div class="list--item__text"><a href="">Spending Allert: We've noticed
                                    unusually high
                                    spending for your account.</a></div>
                        </div>
                    </div>
                </div>
                <div class="all__mails">Show All Alerts</div>
            </div>
        </div>
        <div class="header__user--mail"><i class="fas fa-fw fa-envelope"></i>
            <div class="mail__value">7</div>
            <div class="message__dropdown">
                <div class="message__dropdown__title">MESSAGE CENTER</div>
                <div class="message__dropdown__list">
                    <div class="message__dropdown__list--item">
                        <div class="img"><img src="/img/undraw_profile_1.svg" alt="">
                            <div class="online"></div>
                        </div>
                        <div class="dropdown__list--content">
                            <div class="list--item__text"><a href="">Hi there! i am wondering and you
                                    ...</a></div>
                            <div class="list--item__title">Emily Fowler . 58m</div>
                        </div>
                    </div>
                    <div class="message__dropdown__list--item">
                        <div class="img"><img src="/img/undraw_profile_2.svg" alt="">
                            <div class="online"></div>
                        </div>
                        <div class="dropdown__list--content">
                            <div class="list--item__text"><a href="">I have the photos that you
                                    ordere...</a></div>
                            <div class="list--item__title">Jae Shun . 1d</div>
                        </div>
                    </div>
                    <div class="message__dropdown__list--item">
                        <div class="img"><img src="/img/undraw_profile_3.svg" alt="">
                            <div class="online"></div>
                        </div>
                        <div class="dropdown__list--content">
                            <div class="list--item__text"><a href="">Last month's report looks great, i
                                    ...</a></div>
                            <div class="list--item__title">Morgan Alvares . 2d</div>
                        </div>
                    </div>
                    <div class="message__dropdown__list--item">
                        <div class="img"><img src="/img/undraw_profile.svg" alt="">
                            <div class="online"></div>
                        </div>
                        <div class="dropdown__list--content">
                            <div class="list--item__text"><a href="">Am i a good boy? The reason i as...</a>
                            </div>
                            <div class="list--item__title">Chicken the Dog . 2w</div>
                        </div>
                    </div>
                </div>
                <div class="all__mails">Read More Messages</div>
            </div>
        </div>
        <div class="header__user--name">
            <div class="user--name__text">Douglas McGee</div>
            <div class="user--name__photo"><img src="/img/undraw_profile.svg" alt=""></div>
            <div class="user__dropdown">
                <ul class="user__dropdown__list">
                    <li class="user__dropdown__list--item"><i class="fas fa-fw fa-user"></i><a href="">Profile</a>
                    </li>
                    <li class="user__dropdown__list--item"><i class="fas fa-fw fa-cogs"></i><a href="">Settings</a>
                    </li>
                    <li class="user__dropdown__list--item"><i class="fas fa-fw fa-list"></i><a href="">Activity</a></li>
                    <hr>
                    <li class="user__dropdown__list--item"><i class="fas fa-fw fa-sign-out-alt"></i><a
                            href="">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>