<div class="sidebar">
    <div class="logo">A<span id="dmin">DMIN</span></div>
    <div class="nav">
        <div class="nav__box">
            <div class="nav__item">
                <div class="nav__link"><i class="fas fa-fw fa-tachometer-alt"></i>Dashboard</div>
            </div>
        </div>
        <div class="nav__box">
            <div class="nav__title">INTERFACE</div>
            <div class="nav__item">
                <div class="nav__link"><i class="fas fa-fw fa-cog"></i>Components<div class="nav__link--arrow">
                    </div>
                </div>
                <div class="nav__dropdown">
                    <div class="dropdown__title">CUSTOM COMPONENTS:</div>
                    <ul class="dropdown__list">
                        <li class="dropdown__list--item"><a href="/buttons/index.html">Buttons</a></li>
                        <li class="dropdown__list--item"><a href="">Cards</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav__item">
                <div class="nav__link"><i class="fas fa-fw fa-wrench"></i>Utilities<div
                        class="nav__link--arrow"></div>
                </div>
                <div class="nav__dropdown">
                    <div class="dropdown__title">CUSTOM UTILITIES:</div>
                    <ul class="dropdown__list">
                        <li class="dropdown__list--item"><a href="">Colors</a></li>
                        <li class="dropdown__list--item"><a href="">Borders</a></li>
                        <li class="dropdown__list--item"><a href="">Animations</a></li>
                        <li class="dropdown__list--item"><a href="">Other</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nav__box">
            <div class="nav__title">ADDONS</div>
            <div class="nav__item">
                <div class="nav__link"><i class="fas fa-fw fa-folder"></i>Pages<div class="nav__link--arrow">
                    </div>
                </div>
                <div class="nav__dropdown">
                    <div class="dropdown__title">LOGIN SCREENS:</div>
                    <ul class="dropdown__list">
                        <li class="dropdown__list--item"><a href="">Login</a></li>
                        <li class="dropdown__list--item"><a href="">Register</a></li>
                        <li class="dropdown__list--item"><a href="">Forgot Password</a></li>
                    </ul>
                    <div class="dropdown__title">OTHER PAGES:</div>
                    <ul class="dropdown__list">
                        <li class="dropdown__list--item"><a href="">404 Page</a></li>
                        <li class="dropdown__list--item"><a href="">Blank Page</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav__item">
                <div class="nav__link"><i class="fas fa-fw fa-chart-area"></i>Charts</div>
            </div>
            <div class="nav__item">
                <div class="nav__link"><a href="/tables/index.html"><i class="fas fa-fw fa-table"></i>Tables</a></div>
            </div>
        </div>
        <div class="nav__box">
            <div class="btn__sidebar">
                <div class="btn__arrow"></div>
            </div>
        </div>
    </div>
</div>